<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>
    <meta charset="utf-8">
    <title>Lista de livros</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/index.css" />
</head>

<body>
    <div id="app" class="container">
        <h2>Lista de livros</h2>
        <input v-model="titulo" placeholder="Adicione um livro" type="text" class="form-control"> <br>
        <input v-model="autor" placeholder="Nome do autor" type="text" class="form-control"> <br>
        <div v-show="ehEditar">
            <button @click="editar()" class="btn btn-primary btn-block" type="button">Editar</button>
            <button @click="cancelar()" class="js-cancel btn btn-primary btn-block" type="button">Cancelar</button>
        </div>
        <div v-show="!ehEditar">
            <button @click="adicionar()" class="btn btn-primary btn-block" type="button">Adicionar</button>
        </div>
        <br>

        <div class="js-livro">
            <div class="js-div-livro js-div-busca">
                <input v-model="filtro" placeholder="Buscar livro" type="text" class="form-control">
            </div>
            <div class="js-div-botoes">
                <button @click="buscar()" class="btn btn-primary btn-block" type="button">Buscar</button>
            </div>
        </div>

        <div>
            <ul>
                <li v-for="(livro, index) in livros" :key="livro.id">
                    <div class="js-livro">
                        <div class="js-div-livro">
                            <big>{{ livro.titulo }}</big><small>{{ livro.autor }}</small>
                        </div>
                        <div class="js-div-botoes">
                            <button @click="selecionar(livro)" class="js-botoes btn btn-primary btn-block"
                                type="button">Editar</button>
                            <button @click="remover(index, livro)" class="js-botoes btn btn-primary btn-block"
                                type="button">Remover</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>

<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script type="text/javascript" src="js/index.js"></script>

</html>